html { 
    width: 100%; 
    height:100%; 
    overflow:hidden; 
}

body {
	width: 100%;
	height:100%;
	letter-spacing:1.2px;
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
}

.predict_div { 
	width:400px;
	color: #fff;
	margin: 0 auto;
	margin-top: 14%
}

.predict_div h1 { 
    color: #fff; 
    text-shadow: 0 0 10px rgba(0,0,0,0.3); 
    letter-spacing:1px; 
    text-align:center; 
}

.predict_div h5 {
    color: #fff; 
    text-align:center;
}

.predict_div input { 
	width: 100%; 
	background: rgba(0,0,0,0.3);
	margin-bottom: 10px;
	padding: 10px;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	transition: box-shadow .5s ease;
}

::placeholder {
  color: #fff;
}