<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Volume Tests Predictor</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>

<body>
<h1 style="margin-top: 15px">Volume Tests Predictor</h1>
 <div class="main_div">
        <form action="{{ url_for('predict')}}"method="post">
            <div class="form-row" style="margin: 15px auto; width: fit-content; display: inline-flex;">
                <div class="col" style="margin: auto; width: 200px;">
                    <select class="custom-select" type="number" name="company_id" required="required">
                        <option value=1>Company A</option>
                        <option value=2>Company B</option>
                        <option value=6>Company C</option>
                        <option value=9>Company D</option>
                        <option value=17>Company E</option>
                    </select>
                </div>
                <div class="col" style="margin: auto;">    
                    <input type="date" name="date" placeholder="Date" required="required" />
                </div>
                <div class="col">    
                    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
                </div>
            </div>
        </form>
    <br>
    <h5 id ="myHeader"></h5>

    <div class="graph">
        <canvas id="myChart"></canvas>
    </div>
 </div>
 
    <script type=text/javascript>
        myHeader.innerText = "Volume Tests should be " + {{ prediction_data | safe }}["{{date_selected | safe}}"];

        // initalize variables
        dates = []
        input_data  = []
        prediction_data = []

        // populate input_data
        for(var date in {{ input_data | safe }}){
            input_data.push({{ input_data | safe }}[date])
            dates.push(date)
        }

        // date where input and prediction meet in graph
        join_date = dates.slice(-1)[0]

        // populate prediction_data with null and last input_data
        for(i=0; i < input_data.length; i++){
            if(i == input_data.length -1){
                prediction_data.push(input_data[i]);
            }
            else{
                prediction_data.push(null);
            }
        }

        // populate rest of prediction_data
        for(var date in {{ prediction_data | safe }}){
            prediction_data.push({{ prediction_data | safe }}[date])
            dates.push(date)
        }

        // myChart
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    data: input_data,
                    label: 'Input',
                    backgroundColor: 'rgb(54, 162, 255)',
                    borderColor: 'rgb(54, 162, 255)',
                    fill: false,
                    lineTension: 0
                },
                {
                    data: prediction_data,
                    label: 'Prediction',
                    backgroundColor: 'rgb(255, 0, 0)',
                    borderColor: 'rgb(255, 0, 0)',
                    fill: false,
                    lineTension: 0
                }]
            },

            options: {
                tooltips: { // only show 1 value in tooltips
                    filter: function (tooltipItem, data) {
                        var label = data.labels[tooltipItem.index];
                        if (label == join_date && tooltipItem.datasetIndex == 1) {
                            return false;
                        } else {
                            return true;
                        }
                    }
                }
            }
        });
    </script>

</body>
</html>